{% extends 'base/baseadmin.html.twig' %}
{% block titre %}  Veterinaire  {% endblock %}




{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Modifier le veterinaire</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    {{ form_start(form, {attr:{ novalidate:'novalidate' }}) }}
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nom</label>
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.nom, {'attr': {'class': 'text-danger'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Prenom</label>
                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.prenom, {'attr': {'class': 'text-danger'}}) }}
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Email</label>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.email, {'attr': {'class': 'text-danger'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Adresse</label>
                            {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.address, {'attr': {'class': 'text-danger'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Photo</label>
                            {{ form_widget(form.picture, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.picture, {'attr': {'class': 'text-danger'}}) }}
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Numero de telephone</label>
                            {{ form_widget(form.numero, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.numero, {'attr': {'class': 'text-danger'}}) }}
                        </div>


                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-warning">Modifier</button>
                    </div>

                    {{ form_end(form) }}


                </div>
                <!-- /.card -->

                <!-- general form elements -->

                <!-- /.card -->

                <!-- Input addon -->

                <!-- /.card -->
                <!-- Horizontal Form -->

                <!-- /.card -->

            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <!-- /.card -->
            <!-- general form elements disabled -->

            <!-- /.card -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
    </div>


{% endblock %}
