<!DOCTYPE html>

<title>Veterinaire index</title>

{% block body %}
    <h1>Veterinaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Address</th>
                <th>Date</th>
                <th>Picture</th>
                <th>Numero</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for veterinaire in veterinaires %}
            <tr>
                <td>{{ veterinaire.id }}</td>
                <td>{{ veterinaire.nom }}</td>
                <td>{{ veterinaire.prenom }}</td>
                <td>{{ veterinaire.email }}</td>
                <td>{{ veterinaire.address }}</td>
                <td>{{ veterinaire.date }}</td>
                <td>{{ veterinaire.picture }}</td>
                <td>{{ veterinaire.numero }}</td>
                <td>
                    <a href="{{ path('app_veterinaire_show', {'id': veterinaire.id}) }}">show</a>
                    <a href="{{ path('app_veterinaire_edit', {'id': veterinaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_veterinaire_new') }}">Create new</a>
{% endblock %}
