
{% extends 'base/base.html.twig' %}


{% block titre %}
    veterinaire
{% endblock %}


{% block section%}
{% endblock %}



{% block corp %}
    <br>
    <h2>Liste des veterinaires:</h2>
    <br><br>

    <table id="customers">


    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
            color: black;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ED6436;
            color: black;
        }
    </style>




    <tr>


        <th>Photo  </th>
        <th>Nom  </th>
        <th>Prénom  </th>
        <th>Emplacement</th>
        <th>Date de mise en service</th>
        <th>Numero</th>
        <th>Votez</th>

    </tr>
    {% for veterinaire in veterinaires %}
        <tr style="color: #f5f5dc">

            <td><img  src="/uploads/{{veterinaire.picture}}" id="img"  alt="Image"
                      style =" width : 100px  "> </td>
            <td>{{veterinaire.nom}}</td>
            <td>{{veterinaire.prenom}}</td>
            <td>{{veterinaire.address}}</td>
            <td>{{veterinaire.date|date("m/d/Y")}}</td>
            <td>{{veterinaire.numero}}</td>
            <td></td>

        </tr>
        </thead>

        </div>
    {% endfor %}
    </table>









{%endblock%}



