
{% extends 'base/base.html.twig ' %}


{% block titre %}
Veterinaires
{% endblock %}




{% block section%}
{% endblock %}



{% block corp%}
















<div class="container rounded bg-white mt-5 mb-5">
    <div class="images-container">

    </div>
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">

                </div>
                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                    <thead class="thead-primary">
                    <tr style="color:#df5">


                        <th>Photo  </th>
                        <th>Nom  </th>
                        <th>Prénom  </th>
                        <th>Emplacement</th>
                        <th>Date de mise en service</th>
                        <th>Numero</th>
                        <th colspan="3" style="text-align: center">Actions</th>

                    </tr>
                    {% for veterinaire in veterinaires %}
                    <tr style="color: #f5f5dc">

                        <td>{{veterinaire.picture }}</td>
                        <td>{{veterinaire.nom}}</td>
                        <td>{{veterinaire.prenom}}</td>
                        <td>{{veterinaire.email}}</td>
                        <td>{{veterinaire.address}}</td>
                        <td>{{veterinaire.date|date("m/d/Y")}}</td>
                        <td>{{veterinaire.numero}}</td>
                        <td> <button class="btn btn-primary" ><a href="{{ path('app_veterinaire_show', {'id': veterinaire.id}) }}" style="color:white">Afficher</a></button></td>

                    </tr>
                    {% endfor %}

                </table>


                </table>






                {%endblock%}


                {% block footer%}

                {%endblock%}

