{% extends 'base/baseadmin.html.twig' %}

{% block title %}<title>User/Admin details</title>{% endblock %}





{% block section%}

{% endblock %}



{% block corp %}



<div class="container rounded bg-light mt-5 mb-5">
    <div class="row">
    <div class="col-lg-12">
    <br>
                    <div class="heading-title" style="margin-left:28% ; color:orange">
                    <style>
                       h2.intro::first-letter {
                       color: #ff0000;
                       font-size: 150%;
                       margin-left:10%;
                                     }  
                         </style>
                        <h2 class="intro"  >Details de user  {{ user.id }} </h2>
                    </div>
                </div>
                   
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></div>
        </div>
  
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="form-group">
                   <br> <br>
                                <p>Nom : &nbsp;&nbsp;  {{ user.username }}</p><br>
                                <p>Email :  &nbsp;&nbsp;  {{ user.email }}</p><br>
                                <p>role : {% for role in user.roles %} <span>{{ role }}, </span> {% endfor%} 
                                  <br> <br> <br> 
         <div class="text-right m-t-30">
                            <a href="{{ path('Users') }}" class="btn btn-success waves-effect waves-light">
                                back to list 
                            </a>
                            <a href="{{ path('user_back_edit', {'id': user.id}) }}" class="btn btn-primary waves-effect waves-light">
                                Update
                            </a>
                        </div>
                         
   <br><br>

        </div>
   
    </div>               
</div>
</div>
</div>





























{% endblock %}


{% block footer%}
{% endblock %}