{% extends 'baseBack.html.twig' %}

{% block title %}CodePromo{% endblock %}

{% block body %}
    <h1>CodePromo</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>IdCodepromo</th>
            <td>{{ code_promo.idCodepromo }}</td>
        </tr>
        <tr>
            <th>Pourcentage</th>
            <td>{{ code_promo.pourcentage }}</td>
        </tr>
        <tr>
            <th>Nomblogeuse</th>
            <td>{{ code_promo.nomblogeuse }}</td>
        </tr>
        <tr>
            <th>Nb</th>
            <td>{{ code_promo.nb }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_code_promo_index') }}">back to list</a>

    <a href="{{ path('app_code_promo_edit', {'idCodepromo': code_promo.idCodepromo}) }}">edit</a>

    {{ include('code_promo/_delete_form.html.twig') }}
{% endblock %}
