{% extends 'BaseBack.html.twig' %}

{% block title %}Promotion index{% endblock %}

{% block body %}
<style>
    .img{
        width: 60px;
        height: 60px;
        background-size: cover;
        display: block;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
    }
    th {
        text-align: inherit;
        text-align: -webkit-match-parent;
    }
    th {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }
</style>
    <h1>Promotion </h1>
<section class="ftco-section">

    <div class="container">
        <div class="row">
            <section>

                <div class="album py-5 bg-light">
                    <div class="container">
                        <div class="sidebar-search" >
                            <div class="input-group custom-search-form">
                                <input    type="text" id="search" class="form-control widget_input" placeholder="Chercher..." style="width: 90px;background: white">
                            </div>
                            <br>
                            <!-- /input-group -->
                            <ul class="nav" id="side-menu">
                                <li>
                                    <a href="#"> <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level" id="entitiesNav">
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>IdPromotion</th>
                <th>LibellePromotion</th>
                <th>Pourcentage</th>
                <th>DateDebutPromotion</th>
                <th>DateFinPourcentage</th>
                <th>Description</th>
                <th>Prix apres réduction</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
        {% for promotion in promotions %}
            {% if promotion.idProduit==produit %}
            <tr>
                <td> <img  src="{{ asset('img/')}}{{ produit.image }}" alt="" class="img"></td>
                <td>{{ promotion.idPromotion }}</td>
                <td>{{ promotion.libellePromotion }}</td>
                <td>{{ promotion.pourcentage }}</td>
                <td>{{ promotion.dateDebutPromotion ? promotion.dateDebutPromotion|date('Y-m-d') : '' }}</td>
                <td>{{ promotion.dateFinPourcentage ? promotion.dateFinPourcentage|date('Y-m-d') : '' }}</td>
                <td>{{ promotion.description }}</td>
                <td>{{ produit.prix - (promotion.pourcentage* produit.prix)/100}}</td>
                <td>
                    <a href="{{ path('app_promotion_show', {'idPromotion': promotion.idPromotion}) }}">show</a>
                    <a href="{{ path('app_promotion_edit', {'idPromotion': promotion.idPromotion}) }}">edit</a>
                </td>
            </tr>
            {% endif%}
        {% endfor %}
        {% endfor %}


        </tbody>
    </table>
            <!-- jQuery is necessary -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script type="text/javascript">


                jQuery(document).ready(function() {
                    var searchRequest = null;
                    $("#search").keyup(function() {



                        var minlength = 3;
                        var that = this;
                        var value = $(this).val(); // elyyktbo fi input 7atito fi var var
                        var entitySelector = $("#entitiesNav").html('');
                        if (value.length >= minlength ) {
                            if (searchRequest != null)
                                searchRequest.abort();
                            searchRequest = $.ajax({
                                type: "GET",
                                url: "{{ path('ajax_search') }}",
                                data: {
                                    'q' : value
                                },
                                dataType: "text",
                                success: function(msg){
                                    //we need to check if the value is the same
                                    if (value==$(that).val()) {
                                        var result = JSON.parse(msg);

                                        $.each(result, function(key, arr) {
                                            $.each(arr, function(id, value) {
                                                if (key == 'voitures') {
                                                    if (id != 'error') {
                                                        x= document.getElementById("container");

                                                        entitySelector.append('<div style="display: table;width:100%;padding: 15px"><span style="text-align: center"> marque: '+value[1]+'</span><br/><span style="text-align: center"> serie: '+value[4]+'</span><br/><a href="/app_promotion_index/'+id+'">'+'<img src="/uploads/produit_image/'+value[0]+'" style="width: 150px; height: 150px"/>'+'</a></div>');


                                                    } else {
                                                        entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            </script>
    <div class="navigation">
        {{ knp_pagination_render(promotions) }}
    </div>
    <a href="{{ path('app_promotion_new') }}">Create new</a>
            <a href="{{path('note_stat')}}"
            class="btn btn-success"> voir les statistques
            <i class="bi bi-cart-plus"></i>
            </a>
{% endblock %}
