

{{ form_start(form,{attr:{novalidate:'novalidate'} }) }}
<div class="card-body">

    {{ form_widget(form, { 'attr': {'class': 'form-group'} }) }}
    {{ form_errors(form, { 'attr': {'class': 'text-danger'} }) }}

</div>
    <div class="card-footer">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>

{{ form_end(form) }}
