{% extends 'baseFront.html.twig' %}

{% block title %}EvenementLocal index{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="d-flex flex-column text-center mb-5 pt-5">
            <h1 class="display-4 m-0"><span class="text-primary">Nos </span>evenements</h1>
        </div>
        <div class="row pb-3">
            {% for evenement_local in evenement_locals %}
            <div class="col-lg-4 mb-4">
                <div class="card border-0 mb-2">
                    <img class="card-img-top" src="{{ asset('/uploads/evenement/' ~ evenement_local.photo)}}" alt="">
                    <div class="card-body bg-light p-4">
                        <h4 class="card-title text-truncate">{{ evenement_local.nom }}</h4>
                        <!--  <div class="d-flex mb-3">
                                <small class="mr-2"><i class="fa fa-user text-muted"></i> Admin</small>
                                <small class="mr-2"><i class="fa fa-folder text-muted"></i> Web Design</small>
                                <small class="mr-2"><i class="fa fa-comments text-muted"></i> 15</small>
                            </div> -->
                        <p>{{ evenement_local.description }}</p>
                        <a class="font-weight-bold" href="{{ path('evenement_local_show1', {'id': evenement_local.id}) }}">Read More</a>
                    </div>
                </div>
            </div>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(evenement_locals) }}
            </div>
        </div>
    </div>


{% endblock %}